// Place all the styles related to the subscriber controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  background-image: image-url("bg.jpg");
  background-size: cover;
}

.box {
  background: rgba(0, 0, 0, 0.78);
  border-radius: 5px;
  width: 480px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: auto;
}

.content {
  width: 480px;
  height: 430px;
  position: absolute;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#email {
  margin-top: 60px;
  color: whitesmoke;
}

#subscriber_email {
  padding-left: 15px;
  vertical-align:top;
  margin-top: 20px;
  border-radius: 3px;
  height: 40px;
  width: 350px;
  font-size: 20px;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: grey;
  box-shadow: none;
  border: none;
}

#button {
  margin-top: 20px;
  vertical-align:top;
  height: 42px;
  width: 50px;
  background: green;
  font-size: 20px;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: whitesmoke;
  border-radius: 3px;
  border: none;
  margin-left: 0px;
}
